@forward "../../Css/BaseStyles.module.scss";
@use "../../Css/vars.module.scss" as var;

.card {
  width: 120rem;
  padding: 0 4.6rem;
  border-radius: 15px;

  background-color: var.$white;
}

.card_header {
}

.headerCard {
  @extend .titleBasicStyle;
  font-size: 4.6rem;
  line-height: 1.05;
  padding: {
    top: 2.6rem;
    bottom: 1.6rem;
  }
}
